.container
    .row
        .section
            .col.s6.m6
                input(ng-model='searchClient' placeholder='Search')
            .col.s6.m6
                a.waves-effect.waves-light.btn.-create(ui-sref='add_client')
                    i.material-icons.right library_add
                    span Add

    .row
        ul.collection(ng-if='clients.length !== 0')
            div(dir-paginate='(key, client) in clients | itemsPerPage: 10 | filter:searchClient')
                li.collection-item.avatar
                    i.material-icons.circle person_pin
                    span.title {{client.name}}
                    p
                        | {{client.mail}}
                        br
                        | {{client.phone}}
                    a.secondary-content(href='#!')
                        i.material-icons assignment

        div(ng-if='clients.length === 0')
            span There're no clients. You can add them
                a(ui-sref='add_client')
                    | &nbsp;here.

        .clearfix
        .pagination
            dir-pagination-controls