.container
    .row
        .card-panel
            h5 Title:
                input(type='text', ng-model='task.title')
            p Priority:
            div
                select(ng-model='task.priority')
                    option(ng-repeat='opt in selectOptions',
                           ng-selected='{{opt===task.priority}}',
                           value='{{opt}}')
                        | {{opt}}
            blockquote
                textarea.materialize-textarea(ng-model='task.body')
            p Tags:
            div
                input(ng-model='task.tags')
            div
                p.right-align
                    a.waves-effect.waves-light.btn(ng-click='update()')
                        i.material-icons.right done
                        | Save changes
