.container
    .row
        .col.s4
            p.stats-promo Total tasks:
            p.stats-counter 13
        .col.s4
            p.stats-promo Completed tasks:
            p.stats-counter 12
        .col.s4
            p.stats-promo Unfinished tasks:
            p.stats-counter 1
    .row
        .section
            .col.s12.m12
                #tasks-stats