.container
    .row
        .card-panel
            h5 separate {{tasl.title}}
            p Priority: {{task.priority}}
            p Created at: {{task.createdAt | date:'medium'}}
            blockquote {{task.body}}
            div
                div.chip(ng-repeat='tag in task.tags') {{tag}}
                    i.material-icons label
                | &nbsp;
            div
                p.right-align
                    a.waves-effect.waves-light.btn
                        i.material-icons.right done
                        | done