.container
    .row
        .card-panel
            div.card-actions.right-align
                a(ui-sref='edit_task({id: task._id})')
                    span.new.badge.edit edit
                        i.material-icons.tiny subject
                span.new.badge(ng-click='openDeletePopup()') delete
                    i.material-icons.tiny close
            h5 {{task.title}}
            p Priority: {{task.priority}}
            p Created at: {{task.createdAt | date:'medium'}}
            blockquote {{task.body}}
            div
                div.chip(ng-repeat='tag in task.tags') {{tag}}
                    i.material-icons label
                | &nbsp;

script(type='text/ng-template' id='deleteTask')
    h5.center Are you sure?
    .popup-actions
        a.waves-effect.waves-light.btn(ng-click='closeThisDialog()')
            i.material-icons.left backspace
            | Cancel
        a.waves-effect.waves-light.btn(ng-click='confirmDelete() && closeThisDialog()')
            i.material-icons.right delete
            | Delete
