.container
    .row
        .section

            .col.s6.m6
                    input(ng-model='searchTask' placeholder='Search')
            .col.s6.m6
                a.waves-effect.waves-light.btn.-create(ui-sref='add_task')
                    i.material-icons.right library_add
                    span create

    .row
        .section
            div(ng-repeat='(key, task) in tasks | filter:searchTask')
                .col.l6.m6.s6
                    .card.blue.lighten-5
                        .card-content.grey-text.text-darken-1
                            span.card-time {{task.createdAt | date:'mediumDate'}}
                            .card-title {{task.title}}
                            p {{task.body}}
                            div.card-tags
                                span.card-tag(ng-repeat='(key, tag) in task.tags') {{tag}}
                        .card-action
                            a.cyan-text(href='#') Details
                            a.cyan-text(href='#') Mark as done
            div(ng-if='tasks.length === 0')
                span There're no tasks. You can add them
                    a(ui-sref='add_task')
                        |&nbsp;here.