.container
    .row
        div(ng-repeat='(key, task) in tasks')
            .col.s6.m3 {{task}}
                .card.blue.lighten-5
                    .card-content.grey-text.text-darken-1
                        .card-title Card Title
                        p I am a very simple card. I am good at containing small bits of information.
                    .card-action
                        a.cyan-text(href='#') Details
                        a.cyan-text(href='#') Mark as done