.container
    .row
        .card-panel
            h5 separate task view
            p Priority: 4
            p Created at: May 21th 18:00
            blockquote Here will be text. Here will be text. Here will be text. Here will be text. Here will be text. Here will be text. Here will be text. Here will be text. Here will be text. Here will be text.
            div
                div.chip Tag1
                    i.material-icons label
                | &nbsp;
                div.chip Tag2
                    i.material-icons label
            div
                p.right-align
                    a.waves-effect.waves-light.btn
                        i.material-icons.right done
                        | done