.container
    .row
        .section
            .col.s4.m4
                input(ng-model='searchTask' placeholder='Search')
            .col.s4.m4
                select(ng-options='item as item.label for item in items track by item.id',
                    ng-model='selected',
                    ng-change='onSort()')
            .col.s3.m3.offset-s1.offset-m1
                a.waves-effect.waves-light.btn.-create(ui-sref='add_task')
                    i.material-icons.right library_add
                    span create
    .row
        .col.s12.m12
            .col.s6.m3
                input#completed(type='checkbox')
                label(for='completed') Completed
            .col.s6.m3
                input#not-completed(type='checkbox', checked='checked')
                label(for='not-completed') Not Completed

    .row
        .section
            div(dir-paginate='(key, task) in tasks | itemsPerPage: 12 | filter:searchTask')
                .col.l4.m6.s6
                    .card.blue.lighten-5
                        .card-content.grey-text.text-darken-1
                            span.card-additional-info {{task.createdAt | date:'mediumDate'}} | {{task.priority}}
                            .card-title {{task.title}}
                            p {{task.body}}
                            div.card-tags
                                span.card-tag(ng-repeat='(key, tag) in task.tags') {{tag}}
                        .card-action
                            a.cyan-text(ui-sref='task({id: task._id})') Details
                            a.cyan-text(ng-if='!task.completed' ng-click='markAsDone(task._id)') Mark as done
            div(ng-if='tasks.length === 0')
                span There're no tasks. You can add them
                    a(ui-sref='add_task')
                        |&nbsp;here.
            .clearfix
            .pagination
                dir-pagination-controls