.container
    .row
        div(ng-repeat='(key, task) in tasks')
            .col.s6.m3
                .card.blue.lighten-5
                    .card-content.grey-text.text-darken-1
                        span.card-time {{task.createdAt | date:'mediumDate'}}
                        .card-title {{task.title}}
                        p {{task.body}}
                        span(ng-repeat='(key, tag) in task.tags')
                            span.card-tag {{tag}}
                    .card-action
                        a.cyan-text(href='#') Details
                        a.cyan-text(href='#') Mark as done