doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/base/materialize.css')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        script(src='build/js/libs.js')
        script(src='build/js/application.js')


    body(ng-app="crmApp" id='crmApp')

        .main
            nav.teal
                .nav-wrapper
                    .container
                        a.button-collapse(href='#', data-activates='mobile-demo')
                            i.material-icons menu
                        ul(id='nav-mobile' class='left hide-on-med-and-down')
                            li
                                a(ui-sref='tasks') Tasks
                            li
                                a(ui-sref='clients') Clients
                            li
                                a(ui-sref='stats') Statistics
                        ul(id='mobile-demo' class='side-nav')
                            li
                                a(ui-sref='tasks') Tasks
                            li
                                a(ui-sref='clients') Clients
                            li
                                a(ui-sref='stats') Statistics


            div.ui-view


        footer.page-footer.teal
            .container
                .row.footer-copyright
                    .col.s12 Made by&nbsp;
                        span.brown-text.text-lighten-3 Evgeniy Kopitsa