doctype html
html
    head
        title= title
        link(rel='stylesheet', href='../stylesheets/materialize.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .main
            block content

        footer.page-footer
            .container
                .row
                    .col.l9.s12 &nbsp;
                    .col.l3.s12 2016